@import './normalize.css';
@import './base.css';
@import './taiwind.css';

#app {
  max-width: 1500px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
div {
  box-sizing: border-box;
}
.app-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.code-txt,
.code-snap {
  min-width: 750px;
  padding: 1rem;
  overflow: auto;
}
.code-snap {
  padding: 0 2rem;
}
.code-snap img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 1250px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .app-container {
    display: flex;
    flex-direction: column;
  }
  .code-txt,
  .code-snap {
    min-width: 375px;
    padding: 1rem;
    overflow: auto;
  }
}
